<form action="/game">
  <label for="input">How many letters do you wan to play with ?</label>
  <input type="text" id="input" name="grid_size" placeholder="Type an integer">
  <input type="submit">
</form>
