<h1>NumbersGame#score</h1>

<p>Your score is: <%= @result[:score].round(2) %></p>
<p>Your time is: <%= @result[:time] %></p>
<p>Message: <%= @result[:message] %></p>


<h2><%= link_to "Back to game", '/game' %></h2>


